

*{box-sizing: border-box;}



:root{
    --color1:#ACC8E5;
    --color2:#112A46;
    --color3: rgb(71, 203, 255);
}




/* classes */
.footer{
    padding: 20px;
}


.name{
    color: var(--color2);
}


/* ids */



#footer{
    background-color: var(--color1);
}



#header{
    background-color: var(--color1);
}
