

*{box-sizing: border-box;}



:root{
    --color1:#ACC8E5;
    --color2:#112A46;
    --color3: rgb(71, 203, 255);
}




/* classes */


.an-i{
    color: #aaa;
}

.an-i:hover{
    color: white;
}




.code:hover{
    color: purple;
}


.footer{
    padding: 20px;
}


.h2-me{
    color: var(--color3);
    border-bottom: 4px solid var(--color1);
}


.h2-pro{
    color: var(--color3);
    border-bottom: 4px solid var(--color1);
    padding-top: 10px;
}

.live:hover{
color: purple;
}


.name{
    color: var(--color2);
}


.website{
    text-decoration: none;
}

/* ids */
#back{
    color: purple;
}

#back:hover{
    color: white;
}


#footer{
    background-color: var(--color1);
}



#header{
    background-color: var(--color1);
}


#section2{
    padding-bottom: 40px;
}