

*{box-sizing: border-box;}



:root{
    --color1:rgb(17, 105, 152);
    --color2:rgb(19, 149, 242);
    --color3: rgb(71, 203, 255);
}




/* classes */




/* ids */

#header{
    background-color: var(--color1);
}